services:
  rabbitmq:
    image: rabbitmq:4-management
    env_file:
      - .env
  data-service-api:
    image: hisptanzania/dhis2-public-portal-data-service:latest
    depends_on:
      - rabbitmq
    ports:
      - "3002:3000"
    volumes:
      - ./log:/app/log
      - ./outputs:/app/outputs
    env_file:
      - .env.data-service
  data-service-worker:
    image: hisptanzania/dhis2-public-portal-data-service:latest
    depends_on:
      - rabbitmq
    volumes:
      - ./log:/app/log
      - ./outputs:/app/outputs
    env_file:
      - .env.data-service
    command: [ "bun", "run", "rabbit/worker.mjs" ]